/*
	TODO
	- Create classes for SiteMapPath
	- Refactor Css
	- Design is not currently dynamic
*/

/* Site-Wide Specifics */
h2 {
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}
table {
	text-align: center;
	border-collapse: collapse;
	font-size: 14px;
}
address {
	text-align: center;
}
.TableHeaderRow {
	text-align: center
}
img#header_image {
	height: 100px;
	width: 1000px;
}
caption {
	font-size: 22px;
	font-weight: bold;
	padding: 2%;
}
a {
		font-size: 18px;
}
/* When you apply these rules you will get the appearance and colour scheme described in the assessment. */
.dynamicMenuItem, .staticMenuItem {
	display: block;
	width: 99.99%;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	padding: 0.2em;
	background-color: #D2E7DA;
}

.dynamicHoverStyle, .staticHoverStyle {
	color: #000000;
	text-shadow: 0 0 0px;
}
.loginControl {
	font-size: x-small;
	width: inherit;
}
.HoverNodeStyle {
	background-color: #CCCCCC;
	border-color: #888888;
	border-style: Solid;
	font-weight: bold;
}
.NodeStyle {
}
.ParentNodeStyle {
	font-weight: normal;
}
.SelectedNodeStyle {
	background-color: White;
	border-color: #888888;
	border-width: 1px;
	border-style: Solid;
}
/* The CSS rules below will style all hyperlinks outside of the menu.*/
a:link {
	color: #05100a;
}
a:visited {
	color: darkslateblue;

}
#breadcrumb a:hover, #loginarea a:hover, #footer a:hover {
	color: yellow;
}
/* Web.Master Specifics */
#master_pagewrapper {
	width: 100%;
	height: 100%;
	background-color: #759275;
}
#master_copyright {
	float: left;
	position: relative;
	left: 45px;
	top: -26px;
}
#master_lastupdate {
	float: right;
	margin-right: 0;
	position: relative;
	left: -45px;
	top: -26px;
}
#master_body {
	font-family: Tahoma;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
}
#master_header {
	height: 100px;
	width: 100%;
	background-color: ;
	text-align: center;
}
#master_navigation {
	height: 20px;
	padding: 15px;
	background-color: #759275;
	text-align: left;
	font-weight: bold;
	font-size: 18px;
}
#master_aside {
	float: right;
	width: 15%;
	text-align: left;
	background-color: #759275;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 2%;
	font-size: 16px;
}
#master_content {
	float: left;
	width: 83%;
	background-color: #9F9F9F;
	color: black;
	height: 100%;
	text-align: center;
	padding-bottom: 2%;
	font-size: 17px;
}
#master_footer {
	clear: both;
	padding-top: 32px;
	width: 100%;
	background-color: #C6C892;
}
/* ../Default Specifics */
#default_page_image {
	width: auto;
	bottom: auto;
}
/* about/Default Specifics */
/* about/AboutUs Specifics */
#about_aboutus_heading {
	padding-left: 5%;
	padding-right: 5%;
}
/* about/ContactUs Specifics */
#about_contactus_heading {
	padding-left: 5%;
	padding-right: 5%;
}
/* pages/Default Specifics */
/* pages/Photographs Specifics */
/* pages/Specials Specifics */
/* pages/Popup Specifics */
#popup_image {
	text-align: center;
	padding: 2px;
}
#popup_text {
	padding: 1%;
	font-family: Tahoma;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
}
#popup_body {
	background-color: #9F9F9F;
}
